<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cuberium</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="../../assets/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">Cuberium User</h5>
                                <span>Gold Member</span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="../../index.html">
                        <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                        <span class="menu-title">Anasayfa</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
                        <span class="menu-title">Blockchain 101</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/101.html">Blockchain nedir?</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/102.html">Blockchain teknolojisi nasıl çalışır?</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/201.html">Blockchain'in kullanım alanları</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/101.html">Blockchain ağları ve konsensüs mekanizmaları</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/102.html">Blockchain cüzdanları ve dijital paralar </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/201.html">Blockchain güvenliği ve saldırı türleri/a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/101.html">Blockchain yazılım geliştirmek için kullanılabilecek araçlar ve platformlar</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/102.html">Blockchain yatırımları ve endüstri uygulamaları</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/201.html">Blockchain geleceği ve potansiyel etkileri</a></li>
                        </ul>
                    </div>

                    <li class="nav-item menu-items">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
                            <span class="menu-title">Blockchain 102</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
                                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
                                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                                <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
                            <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
                            <span class="menu-title">CTF</span>
                        </a>
                    </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search products">
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                                <h6 class="p-3 mb-0">Projects</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">UI Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-layers text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Testing</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all projects</p>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-block">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-view-grid"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <span class="count bg-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">Messages</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                                        <p class="text-muted mb-0"> 1 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                                        <p class="text-muted mb-0"> 15 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                                        <p class="text-muted mb-0"> 18 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">4 new messages</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count bg-danger"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-calendar text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Event today</p>
                                        <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                        <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-link-variant text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Launch Admin</p>
                                        <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all notifications</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="../../assets/images/faces/face15.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Cuberium User</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">Advanced settings</p>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Blockchain Nedir </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">

                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <!--Arka plan gri fontun büyüklüğü-->
                            <div class="card">
                                <div class="card-body">

                                    <p style="color: yellow; font-size: 40px">Blockchain </p>

                                    </h4>
                                    <p class="card-description">Blockchain teknolojisi, kripto para birimlerinin temelinde olan bir teknoloji olarak karşımıza çıkıyor. Ağda yer alan kullanıcıların tamamı, blockchain teknolojisi sayesinde birbirlerine güven duymak gibi bir zorunluluk
                                        olmadan konsensüse ulaşabiliyorlar. Blockchain fikri ilk olarak W. Scott Stornetta ve Stuart Haber olarak bilinen bilim insanları tarafından 1991 senesinde sunuldu. Söz konusu fikir, zaman damgası ile dijital belgelerin
                                        kurcalanamaması ya da söz konusu belgelerin üzerinde geriye dönük bir değişiklik yapılamaması olarak ortaya çıktı. Zaman damgalı belgelerin muhafaza edilmesi amacıyla sistem tarafından güvenli bir blockchain kullanıldı.
                                        Merkle ağaçları da 1992 senesinde söz konusu tasarıma dâhil oldu. Böylece birden fazla belge bir blok olarak bir araya getirildi. Bu da sistemin daha etkin olmasını sağladı. Fakat söz konusu teknoloji kullanılmadı.
                                        Bitcoin’in piyasaya sürülmesinden birkaç sene önce yani 2004 senesinde patentin sona erdiği görüldü. Hal Finney olarak bilinen bilgisayar bilimcisi, 2004 senesinde RPoW (yeniden kullanılabilir iş kanıtı) adı verilen
                                        bir sistemi tanıttı. Söz konusu sistem, Hashcash tabanına sahip, eşsiz ve değiştirilemeyen bir iş kanıtı token’ı alarak işlemeye başladı. Sistem tarafından kişiden kişiye transfer edilebilen RSA imzalı token yaratıldı.
                                        RPoW (yeniden kullanılabilir iş kanıtı), token’ların mülkiyetinin güvenli bir sunucuda tutulmasıyla birlikte çifte harcama problemine çözüm getirdi. Bu sunucu, dünya genelindeki kullanıcılar tarafından verilerin
                                        hem doğruluğunun hem de bütünlüğünün eş zamanlı bir şekilde denetlenmesine imkân tanıyacak biçimde hazırlandı. Yani RPoW (yeniden kullanılabilir iş kanıtı), blockchain tarihinde önemli bir yere sahip oldu. Merkeziyetsiz
                                        P2P (eşler arası) elektronik para sisteminin yani Bitcoin’in tanıtımını yapan bir whitepaper, 2008 senesinin sonlarında kriptografi posta listesine gönderildi. Bu whitepaper, Satoshi Nakamoto lakabını kullanan bir
                                        kişi ya da grup tarafından gönderildi. Çifte harcama korumasının, burada RPoW (yeniden kullanılabilir iş kanıtı) yerine dağıtık bir eşler arası protokol tarafından sağlandığı fark edildi. Söz konusu protokolün,
                                        işlemlerin takibini yaptığı ve doğruladığı görüldü. Bireysel madenciler, iş kanıtı olarak bilinen konsensüs mekanizmasından faydalanarak ödül için Bitcoin’leri kazmaya başladı. İşlemler, ağda bulunan merkeziyetsiz
                                        bilgisayarlarca doğrulandı. Bitcoin’in ilk bloku 3 Ocak 2009 tarihinde ortaya çıkarıldı. Bu da Satoshi Nakamoto olarak bilinen Bitcoin geliştiricisine 50 Bitcoin kazandırdı. Hal Finney de Bitcoin’in ilk alıcısı
                                        olarak kayıtlara geçti. 12 Ocak 2009’da söz konusu bilgisayar bilimcisi, Satoshi Nakamoto’dan 10 Bitcoin aldı. Böylece dünyanın ilk Bitcoin işlemi gerçekleştirilmiş oldu.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-13 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <p style="color: yellow; font-size: 40px">Blockchain Teknolojisi</p>
                                <p class="card-description">Blockchain nedir? Ağdaki birçok bilgisayarda paylaşılan ve güncellenen açık bir veri tabanıdır. Mimarisi verilerin peş peşe ve guruplar halinde depolanmasıyla oluşur ve buna “blok” denir. Bütün bloklar diğer bloklara kriptografik
                                    olarak bağlı olması “zincir” yapısı olarak değerlendirilir. Bir bloktaki veri, sonrasındaki bütün blokları değiştirmeden değişemez: Bu değişiklik, bütün ağın “mutabık” olmasını gerektirir. Ağdaki her bilgisayar, her
                                    yeni blok ve bir bütün olarak zincir üzerinde anlaşmalıdır. Bu bilgisayarlar “düğümler” olarak bilinir. Düğümler, blok zinciri ile etkileşime giren herkesin aynı verilere sahip olmasını sağlar. ladı. İşlemler, ağda
                                    bulunan merkeziyetsiz bilgisayarlarca doğrulandı. Bitcoin’in ilk bloku 3 Ocak 2009 tarihinde ortaya çıkarıldı. Bu da Satoshi Nakamoto olarak bilinen Bitcoin geliştiricisine 50 Bitcoin kazandırdı. Hal Finney de Bitcoin’in
                                    ilk alıcısı olarak kayıtlara geçti. 12 Ocak 2009’da söz konusu bilgisayar bilimcisi, Satoshi Nakamoto’dan 10 Bitcoin aldı. Böylece dünyanın ilk Bitcoin işlemi gerçekleştirilmiş oldu. <code>RBC</code></p>

                            </div>
                        </div>
                        
                        </div>
                        <div class="col-13 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p style="color: yellow; font-size: 40px">Blockchain cüzdanları ve dijital paralar (Crypto Wallet)</p>
                                    <p class="card-description">Blockchain cüzdanları ve dijital paralar (Crypto Wallet)

                                        Para , Coin ve Token Kavramları
                                        Coin: Tamamen bağımsız bir dijital para birimi olarak tanımlanabilir. Bitcoin en yaygın örneklerinden biridir ve kendi blockchain ağına sahiptir.
                                        Token: Bir blockchain ağı üzerinde çalışan, daha spesifik bir amaç için kullanılan dijital para birimidir. Örneğin, Ethereum blockchain ağı üzerinde çalışan bir token, bir proje ya da hizmet için ödeme aracı olarak kullanılabilir. Tokenlar, coin’ler gibi bağımsız para birimleri değildir ve temel olarak bir blockchain ağı üzerinde işletilirler.
                                        Özet olarak, coin’ler tamamen bağımsız dijital para birimleridir ve kendi blockchain ağına sahiptirler, tokenlar ise bir blockchain ağı üzerinde çalışan ve daha spesifik bir amaç için kullanılan dijital para birimleridir.
                                        Para : cebinizde olan kağıttır. Para dokunsaldır, ona dokunabilir ve hissedebilirsiniz. Para bir değişim aracı olarak temsil etmek için kullanılır. Bu kağıtlarla Pideci’de yiyecek ile değiştirebilirsiniz. Nispeten dayanıklıdır, eminim pantolon cebindeyken yanlışlıkla yıkadıktan sonra birkaç kağıt para kurutmuşsunuzdur. Kağıt benim cebimde ya da sizin cebinizde olsun değişmez, onunla ne alabileceğimiz konusunda ikimiz de eşit derecede sınırlıyız. Kağıt aynı malzemeden yapılmış olsa da, 10$, 20$, 100$’lık bir muhasebe numarası, her bir kağıt parçasının bir miktar “değer”i temsil etmesine izin verir. Ve bu paranın tanımıdır. Kağıdın temsil ettiği değerdir. Yani ekstrenizi internetten kontrol ettiğinizde veya banka/kredi kartı ile ödeme yaptığınızda para kullanıyorsunuz, kağıt fatura ile ödeme yaptığınızda ise para birimi kullanıyorsunuz.
                                         <code>CBR</code></p>
    
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © cuberium</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> a<a href="s" target="_blank">B</a> from cuberium</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>